/*Imported google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

/*Astericks wildcard selector to overide defalt styles by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Gerneral Styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*project styles*/
    font-family: "Roboto Mono", sans-serif;


}



/*Header*/
header {
    background-color: #272b54;
    color: #f6f7f2;
    font-size: 20px;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 1px #272b54;
    display: flex;
    justify-content: space-between;
    align-items: baseline;


}

header a {
    text-decoration: none;
    color: inherit;


}

h1 {
    font-family: "Roboto Mono", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;

}


#navbar {
    font-size: 112%;
    letter-spacing: 3.5px;
    list-style-type: none;

}

#navbar>li {
    margin-bottom: 1.9em;


}

nav {
    position: absolute;
    background-color: #272b54;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 1px 1px #4d4f47;
    display: none;
    top: 100%;


}

#navbar-toggle:checked~nav {
    display: block;

}

#navbar-toggle {
    display: none;
}

.navbar-toggle-label {
    font-size: 3rem;
}


/*main creavtie self help */
main {
    background: linear-gradient(90deg, rgba(240,239,239,1) 0%, rgba(246,247,242,1) 22%, rgba(236,242,228,1) 100%, rgba(246,247,242,1) 100%);
    flex: 1 0 auto;
    margin-top: 100px;

}
/*coping img section*/
#coping {
    height: 600px;
    width: 100%;
    box-shadow: 2px 2px 2px 2px #4d4f47 ;
    background: url("../images/hero-img.jpg") no-repeat center center/cover;
    
}

/*footer contact social media*/
footer {
    background-color: #272b54;
    color: #f6f7f2;
}

.social {
    color: #f6f7f2;
}


#online-community {
    text-align: center;
    padding: 20 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;

}

#online-community i {
    font-size:155% ;
    padding:6%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



/*  Tablets and up */
@media screen and (min-width: 768px) {


    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: 100rem;
        padding-right: 1rem;
        flex-basis: fit-content;



    }

    /*give navbar better spacing*/
    li {
        width: fit-content;
        padding-left: 5rem;
        padding-right: 5rem;
    }


    #navbar {
        display: flex;
    }

    #navbar>li {
        padding-left: 1rem;
    }


    .navbar-toggle-label {
        display: none;

    }


}

/*laptops and up*/
@media screen and (min-width: 992px) {

    .ready:hover {
        text-decoration: underline;

    }
    }
    